<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://chat.openai.com/favicon.ico" type="image/x-icon">
    <!-- <style>
        .right1 {
            display: none;
        }
    </style> -->
    <title>New chat</title>
</head>

<body style="background-color: #343541;">
    <div style="display: flex; height: 100vh; color: white;">
        <div class="left" style="background-color: #202123;">
            <div>
                <button
                    style="width: 80%; padding-top: 0.5rem; margin: 0.5rem; padding-left: 2.5rem; padding-right: 2.5rem; border-color: white; border-width: 1px; border-radius: 0.375rem; display: flex; margin-left: 1rem; justify-content: start; align-items: center; opacity: 0.7;">
                    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em"
                        xmlns="http://www.w3.org/2000/svg" style="margin-right: 0.5rem;">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                    </svg>
                    <span>New Chat</span>
                </button>
            </div>
            <div style="font-size: 0.75rem; margin: 0.5rem; margin-left: 1rem; color: #9ca3af;">Today</div>
            <div
                style="display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 0.5rem;">

                {% for chat in myChats %}
                <div
                    style="opacity: 0.8; width: 90%; padding-left: 1.25rem; padding-right: 1.25rem; padding-top: 0.5rem; padding-bottom: 0.5rem; border-radius: 0.375rem; background-color: #4b5563; cursor: pointer; display: flex; justify-content: start; align-items: center;">
                    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em"
                        xmlns="http://www.w3.org/2000/svg" style="margin-right: 0.5rem;">
                        <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                    </svg>
                    <span>{{chat.question}}</span>
                </div>
                {% endfor %}

            </div>

        </div>


        <div class="right1"
            style="display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center; width: 100%;">
            <div style="text-align: center; width: 100%; font-size: 2.5rem; font-weight: bold; margin-top: 4rem;">
                ChatGPT
            </div>
            <div style="display: flex; padding-top: 2rem; width: 43vw; justify-content: space-around;">
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <svg stroke="currentColor" fill="none" stroke-width="1.5" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" class="h-6 w-6" height="1em" width="1em"
                        xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12" cy="12" r="5"></circle>
                        <line x1="12" y1="1" x2="12" y2="3"></line>
                        <line x1="12" y1="21" x2="12.01" y2="21"></line>
                        <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                        <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                        <line x1="1" y1="12" x2="3" y2="12"></line>
                        <line x1="21" y1="12" x2="23" y2="12"></line>
                        <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                        <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                    </svg>
                    <div style="padding: 1rem;">Examples</div>
                    <button
                        style="background-color: #4b5563; width: 13vw; font-size: 0.875rem; padding-top: 1rem; border: none; padding-bottom: 1rem; padding-left: 1rem; padding-right: 1rem; margin: 0.5rem; border-radius: 0.375rem; color: white; cursor: pointer; background-color: #4d5563;">"Explain
                        quantum computing in simple terms" →</button>
                    <button
                        style="background-color: #4b5563; width: 13vw; font-size: 0.875rem; padding-top: 1rem; border: none; padding-bottom: 1rem; padding-left: 1rem; padding-right: 1rem; margin: 0.5rem; border-radius: 0.375rem; color: white; cursor: pointer; background-color: #4d5563;">"Got
                        any creative ideas for a 10 year old’s birthday?" →</button>
                    <button
                        style="background-color: #4b5563; width: 13vw; font-size: 0.875rem; padding-top: 1rem; border: none; padding-bottom: 1rem; padding-left: 1rem; padding-right: 1rem; margin: 0.5rem; border-radius: 0.375rem; color: white; cursor: pointer; background-color: #4d5563;">"How
                        do I make an
                </div>

                <div class="cap"
                    style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" aria-hidden="true" class="h-6 w-6" style="width: 1.5rem; height: 1.5rem;">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z"></path>
                    </svg>
                    <div style="padding: 1rem;">Capabilities</div>
                    <button
                        style="background-color: #4b5563; width: 13vw; font-size: small; padding: 1rem; margin: 0.5rem; border: none; cursor: pointer; border-radius: 0.375rem; color: white;">Remembers
                        what user said earlier in the conversation</button>
                    <button
                        style="background-color: #4b5563; width: 13vw; font-size: small; padding: 1rem; margin: 0.5rem; border: none; cursor: pointer; border-radius: 0.375rem; color: white;">Allows
                        user to provide follow-up corrections</button>
                    <button
                        style="background-color: #4b5563; width: 13vw; font-size: small; padding: 1rem; margin: 0.5rem; border: none; cursor: pointer; border-radius: 0.375rem; color: white;">Trained
                        to decline inappropriate requests</button>
                </div>

                <div class="lim"
                    style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <svg stroke="currentColor" fill="none" stroke-width="1.5" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg"
                        style="stroke: currentColor; fill: none; stroke-width: 1.5; height: 1em; width: 1em;">
                        <path
                            d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z">
                        </path>
                        <line x1="12" y1="9" x2="12" y2="13"></line>
                        <line x1="12" y1="17" x2="12.01" y2="17"></line>
                    </svg>
                    <div style="padding: 1rem;">Limitations</div>
                    <button
                        style="background-color: #4b5563; width: 13vw; font-size: small; padding: 1rem; margin: 0.5rem; border: none; cursor: pointer; border-radius: 0.375rem; color: white;">May
                        occasionally generate incorrect information</button>
                    <button
                        style="background-color: #4b5563; width: 13vw; font-size: small; padding: 1rem; margin: 0.5rem; border: none; cursor: pointer; border-radius: 0.375rem; color: white;">May
                        occasionally produce harmful instructions or biased content</button>
                    <button
                        style="background-color: #4b5563; width: 13vw; font-size: small; padding: 1rem; margin: 0.5rem; border: none; cursor: pointer; border-radius: 0.375rem; color: white;">Limited
                        knowledge of world and events after 2021</button>
                </div>

            </div>

            <div class="input"
                style="width: 100%; text-align: center; margin-top: 24px; display: flex; align-items: center; justify-content: center; flex-direction: column;">
                <div class="buttonsvg" style="padding-left: 16px; width: 50vw; display: flex;">
                    <input class="wfull" placeholder="Send a Message" type="text" name="text" id="questionInput"
                        style="width: 100%; padding: 1rem; background-color: #4b5563; border-radius: 0.375rem; border: none; outline: none; border-bottom: 2px solid transparent;"
                        onfocus="this.style.borderBottom='2px solid skyblue';"
                        onblur="this.style.borderBottom='2px solid transparent';">
                    <button id="sendButton" style="position: relative; left: -20px; padding-left: 10px;">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="text-white dark:text-black"><path d="M7 11L12 6L17 11M12 18V7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                    </button>
                </div>
                <div class="text-xs py-2 pr-10 opacity-70"
                    style="font-size: small; padding-top: 0.5rem; padding-right: 1.25rem; opacity: 0.7;">Free Research
                    Preview. ChatGPT may produce inaccurate information about people, places, or facts.<a
                        class="underline" href="https://help.openai.com/en/articles/6825453-chatgpt-release-notes"
                        style="text-decoration: underline;"> ChatGPT Mar 23 Version</a></div>
            </div>

        </div>

        <div class="right2"
            style="width: 100%; display: flex; flex-direction: column; align-items: center; height: fit-content; display: none;">
            <div class="box1"
                style="margin: auto; padding-top: 20px; padding-bottom: 10px; display: flex; justify-content: start; width: 40vw; align-items: center; gap: 6px;">
                <img class="w-9"
                    src="https://lh3.googleusercontent.com/a/AEdFTp4MhdUP_cRn4S0iYRq7mxPSUGQyXgSAoFbIqZa-s6I=s96-c"
                    alt="" style="width: 18px; height: 18px;">
                <div id="question2" style="margin-top: 0px;">Loading...</div>
            </div>

            <div class="box2"
                style="background-color: #4b5563; padding-top: 7px; display: flex; justify-content: center; width: 100%; align-items: center;">
                <div class="box" style="width: 40vw; display: flex; justify-content: start; gap: 6px;">
                    <img class="w-9 h-9" src="https://chat.openai.com/favicon.ico" alt=""
                        style="width: 18px; height: 18px;">
                    <div class="flex" style="display: flex; flex-direction: column; gap: 4px;">
                        <div id="question1" style="margin-top: 0px;">Loading...</div>
                        <div id="solution" style="margin-top: 0px;">Loading...</div>
                    </div>
                </div>
            </div>

            <div class="input"
                style="padding-top: 350px; width: 100%; text-align: center; margin-top: 52px; display: flex; align-items: center; justify-content: center; flex-direction: column;">
                <div class="buttonsvg" style="padding-left: 16px; width: 50vw; display: flex;">
                    <input class="w-full p-4 bg-gray-600 rounded-md" placeholder="Send a Message" type="text"
                        name="text" id=""
                        style="width: 100%; padding: 1rem; background-color: #4b5563; border-radius: 0.375rem; border: none; outline: none; border-bottom: 2px solid transparent;"
                        onfocus="this.style.borderBottom='2px solid skyblue';"
                        onblur="this.style.borderBottom='2px solid transparent';">
                    <button style="position: relative; left: -20px; padding-left: 10px;">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="text-white dark:text-black"><path d="M7 11L12 6L17 11M12 18V7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                    </button>
                </div>
                <div class="text-xs py-2 pr-10 opacity-70"
                    style="font-size: small; padding-top: 0.5rem; padding-right: 1.25rem; opacity: 0.7;">Free Research
                    Preview. ChatGPT may produce inaccurate information about people, places, or facts.<a
                        class="underline" href="https://help.openai.com/en/articles/6825453-chatgpt-release-notes"
                        style="text-decoration: underline;"> ChatGPT Mar 23 Version</a></div>
            </div>
        </div>

    </div>
    <script src="/static/js/script.js"></script>
</body>